* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
} 

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #60b8cc;
  background-color:rgb(129, 216, 236);
  background-image: url();
}

@media screen and (min-width:1000px) {
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #60b8cc;
  background-color:rgb(129, 216, 236);
  overflow-x: hidden;
}
}

@media screen and (max-width:500px) {
body {
  overflow-x: hidden;
}
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


h1, h2, h3 {
  color: hsl(189, 100%, 82%);
  text-align:center;
  margin-top: 10px;
}


.App {
  background-color: #60b8cc;
  background-color:rgb(129, 216, 236);
  min-height: 100vh;
  max-width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:hsl(189, 100%, 82%);

}
.App-link {
  color: #61dafb;
}

nav {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:150px;
  padding:10px 40px;
  box-sizing:border-box;
  transition: 2s;
  overflow-y: hidden;
  
}


nav .logo {
  float: left;
}

nav .logo img {

  height:100px;
  width:100px;
  transition: .5s;
  float:left;
  border-radius: 50%;
  border:1px solid black
}


@keyframes logo {
  0% {opacity:0}
  100%{opacity:1}
  }

  #homeMessage #logoLeft {
    margin:10px auto;
    margin-bottom: 450px;
    margin-top:-130px;
    animation:left;
    animation-duration:3s;
    font-size: 80px;


  }
  
  #homeMessage #logoRight {
  
    margin: 10px auto;
    margin-top: 100px;
    margin-bottom: 300px;
    animation:right;
    animation-duration:3s;
    font-size: 80px;

  }

  @media screen and (max-width:800px) {


    #homeMessage #logoLeft {
      margin:10px auto;
      margin-bottom: 130px;
      margin-top:-80px;
    }
    
    #homeMessage #logoRight {
    
      margin: 10px auto;
      margin-top: 100px;
      margin-bottom: 200px;
    }
  
  }

@media screen and (max-width:500px) {


  #homeMessage #logoLeft {
    margin:10px auto;
    margin-bottom: 250px;
    margin-top:-130px;
    font-size: 60px;
  }
  
  #homeMessage #logoRight {
  
    margin: 10px auto;
    margin-top: 100px;
    margin-bottom: 200px;
    font-size: 60px;
  }

}





@media screen and (max-width:10000px)
{
  nav .logo img {

    height:80px;
    width:80px;
    transition: .5s;
    float:left;
    border-radius: 50%;
    border:1px solid black
  }  

nav ul li a 
{
  line-height:80px;
  color:rgb(11, 42, 43); 
  color:white;
  font-size: 0.7em;
  padding:5px 10px;
  text-decoration: none;
  text-transform: uppercase;
  list-style-type: none;
  transition: .5s;
  margin-left:10px;
}

#centerPic  img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  padding: 6px;  
  background: rgb(121, 25, 25);
  color: white;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  border-radius:50%;
  opacity: 0;
  animation: logo;
  animation-delay: 3s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  transition-property: transform;
  transition-duration: 4s;
}

@media screen and (max-width:500px) {
  #centerPic  img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    padding: 6px;  
    background: rgb(121, 25, 25);
    color: white;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    border-radius:50%;
    opacity: 0;
    animation: logo;
    animation-delay: 3s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    transition-property: transform;
    transition-duration: 4s;
  }

    nav .logo img {
  
      height:50px;
      width:50px;
      transition: .5s;
      float:left;
      border-radius: 50%;
      border:1px solid black
    } 

}


@keyframes left {

  0% {opacity:0}
  25% {opacity:0.5}
  100%{opacity:1}
  0%{ transform: translateX(-650px); }
  100%{ transform: translateX(0px); }
  
  }

  @keyframes right {

    0% {opacity: 0}
    25% {opacity:0.5}
    100%{opacity:1}
    0%{ transform: translateX(650px); }
    100%{ transform: translateX(0px); }

  }

}

nav ul 
{
  float:right;
  margin: 0px;
  padding:0px;
  display:flex;
}

nav ul li 
{
  list-style:none;
}

nav ul li a 
{
  line-height:80px;
  color:rgb(11, 42, 43); 
  color:white;
  padding:5px 10px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
  margin-left:10px;

}

 nav.black
 {
   background:rgba(0,0,0,.9);
   height:80px;
   padding:10px 10px;
   overflow-y: hidden;
 }



 nav.black .logo img 
 {
   height:50px;
   width:50px;
   border:1px solid black;
   transition:.5s;
   
 }

 nav.black ul li a 
 {
   color:#fff;
   line-height:60px;
 }

 nav.black ul li a:hover
 {
   color:rgb(13, 127, 153);
   line-height:60px;
 }




 #footer
 {
   background-color: #000000;
   background-color:rgb(129, 216, 236);
   position: fixed;
   bottom:0;
   height:120px;
   width: 100%;
   color:rgb(129, 216, 236);
   opacity: 0;
   text-align: center;
   -webkit-transition: all 5s ease-in-out;
   -moz-transition: all 5s ease-in-out;
   -ms-transition: all 5s ease-in-out;
   -o-transition: all 5s ease-in-out;
   transition: all 5s ease-in-out;
 }

 
#names {
  color: black;
  text-align: center;
}




 #footer:hover {
  background-color:black;
  color: white;
  transition:3s ease-out;
  height:120px;
  -webkit-opacity: 0.25;
  -moz-opacity: 0.25;
  opacity: 1;
 }


  p 
 {
  font-size:15px;
  text-align: center;
  padding: 25px;
 }

 p #info 
 {
  font-size:5px;
  text-align: left;

 }
 #dl_link {
  font-size:30px;
  font-weight: bold;
  font-family: "Helvetica", sans-serif;
}
a:link {
  color: rgb(7, 98, 126);
}
a:visited {
  color:  rgb(7, 98, 126);
}
a:hover {
   color:orange;
   border-radius:5%;
 }

 .headers
{
  font-size: 50px;
  margin:100px;
  margin-bottom:10vh;
  margin-top:200px;
  color:#fff;
  animation: header;
  animation-duration:2s;
}

@media screen and (max-width:800px){

  
 .headers
 {
   font-size: 25px;
   margin:10px;
   margin-bottom:-90px;
   margin-top:150px;
   color:#fff;
   animation: header;
   animation-duration:2s;
 }


}

@keyframes header {
0% {opacity:0}
25% {opacity:0.5}
100%{opacity:1}
0%{ transform: translateY(-100px); }
100%{ transform: translateY(0px); }
}

.news
{
  animation:logo;
  animation-duration:4s;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 700px;
  margin-bottom: 15vh;

}

@media screen and (max-width:700px)
{
  
#news
{
  animation:logo;
  animation-duration:4s;
  height:750px;
  width:450px;

}
}


video{
  width:60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:100px;

}
.video {
  width:30%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:100px;

}

iframe {
  border: none;
  width: auto 200px;
  width: 325px;
}

#break {
  width:115px;
}

#text_about{
  margin:50px;
  margin-top:10vh;
  margin-bottom:50px;
  width:60%;
  margin-left:auto;
  margin-right:auto;
  padding:20px;
  font-size:24px;
  color: #ffffff;
  text-align: justify;
  font-weight: 100;
  overflow-x: hidden;
}


@media screen and (max-width:800px)
{

  body {
    overflow-x: hidden;
  }
  #text_about{
    margin:50px;
    margin-top:20vh;
    margin-bottom:-150px;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    padding:40px;
    font-size:16px;
    color: #ffffff;
    text-align: justify;
    font-weight: 100;
    overflow-x: hidden;
    width: 100vw;
  }

  .video{
    width:90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:-100px;
  }

  #doob-video {

    margin-bottom: 100px;
  }
}

@media screen and (max-width:500px)
{

  body {
    overflow-x: hidden;
  }
  #text_about{
    margin:50px;
    margin-top:10vh;
    margin-bottom:-150px;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    padding:40px;
    font-size:16px;
    color: #ffffff;
    text-align: justify;
    font-weight: 100;
    overflow-x: hidden;
  }

  .video{
    width:90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:-100px;
  }

  #doob-video {

    margin-bottom: 100px;
  }
}

.centerDoc
{
 
  font-family: 'Libre Franklin', sans-serif;
  background-color:rgb(129, 216, 236);
  background: #81D8EC;
  width: 100%;

}


h6{
  color:black;
  float:right;
  margin-right:250px;
  margin-top:20px;
  padding: 20px;
}


@keyframes header2 {
0% {opacity:0}
25% {opacity:0.5}
100%{opacity:1}
0%{ transform: translateX(-100px); }
100%{ transform: translate(0px); }
}


.title {
  color: hsl(189, 100%, 82%);
}




a{
  text-decoration: none;
  color:black;
}

#homeMessage, #centerPic

{
  font-size: 65px;
}

@media screen and (max-width:800px) {

  #homeMessage , #centerPic

{
  font-size: 45px;

}


}




div.gallery img , div.gallery2 img {
  width: 300px;
  height: 300px;
  margin: auto 20px;
  border-radius: 15%;
  padding: 25px;
}

div.gallery  #soundcloud, div.gallery2   #soundcloud {

  margin: auto 35% ;
  height: 100px;
  width: 100px;

}

#soundcloud2 {

  margin: auto 35% ;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

#soundcloud2:hover {
  margin: auto 35% ;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: none;
  
}




div.gallery , div.gallery2 {
  margin-top: 6px ;
}


div.gallery img:hover, div.gallery2 img:hover {
border: 10px solid rgb(129, 216, 236);
border-radius: 15%;
cursor: pointer;
}


div.gallery #soundcloud:hover , div.gallery2 #soundcloud:hover {

  border-radius: 15%;
  cursor: pointer;
  border: 5px solid rgb(129, 216, 236);
  border-radius: 50%;
  
  
  }

  div.gallery2 img {
    width: 300px;
    height: 300px;
    margin: auto 20px;
    border-radius: 15%;
    padding: 25px;

  }



@media screen and (max-width:800px) {


  div.gallery img , div.gallery2 img {
    width: 300px;
    height: 300px;
    margin: auto -25px;
    border-radius: 15%;
    padding: 25px;
  }

  div.gallery  , div.gallery2  {
    width: 300px;
    height: 500px;
    margin: auto ;
    margin-bottom: 10px;
    border-radius: 15%;
    padding: 25px;
  }


}


.spacer {
  height:2000px;
}

#spacer2 {
  height: 2000px;

}

@media screen and (max-width:800px) {
  #spacer2 {
    height: 3700px;
  }
}

@media screen and (max-width:500px) {

  .spacer {
    height:3200px;
  }
  #spacer2{
  height:7000px;
}
}

* {
  box-sizing: border-box;
}

.responsive {
  float: right;
  background: orange;
  margin: 10px auto;
  border-radius: 15%;
  margin-right:35px;
  margin-bottom: 30px;
}

#artistText {
  text-align: center;
  font-size: large;
}



.responsive2 {
  float: right;
  background: pink;
  margin: 10px auto;
  border-radius: 15%;
  margin-right:15px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 800px) {
  .responsive2  {
   width: 40%;
   margin: auto 35px   ;
   margin-top: 150px;
   margin-bottom: -100px;
   overflow-x: hidden;
 }

 .responsive {

   width: 40%;
   margin: auto 35px  ;
   margin-top: 150px;
   margin-bottom: -100px;
   overflow-x: hidden;


 }
}

@media only screen and (max-width: 500px) {
   .responsive2  {
    width: 90%;
    margin: auto 20px  ;
    margin-top: 150px;
    margin-bottom: -100px;
    overflow-x: hidden;
  }

  .responsive {

    width: 90%;
    margin: auto 20px  ;
    margin-top: 150px;
    margin-bottom: -100px;
    overflow-x: hidden;


  }
}





.clearfix:after {
  content: "";
  display: table;
  clear: both;
}




\\Flip Card\\ 



.middle{
  transform: translate(-50%,-50%);
}
.card{
  cursor: pointer;
  width: 340px;
  height: 280px;
}
.front,.back{

  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .6s linear;
}
.front img{
  height: 100%;
}
.front{
  transform: perspective(600px) rotateY(0deg);
}
.back{
  background: #000000;
  transform: perspective(600px) rotateY(180deg);
  width:  310px;
  margin: 10px;
  margin-left:15px ;
  border-radius: 10%;
  height: 400px;
  font-size: large;
  overflow-y: scroll;

}

/*Chrome,Safari and Opera*/

.back::-webkit-scrollbar {
  display: none; 
}

.back {
  -ms-overflow-style: none; /*IE and Edge*/
  scrollbar-width:none; /* Firefox*/
}
.back-content{
  color: #2c3e50;
  width: 100%;
  text-align: left;
  padding: 20px;

}
.card:hover > .front{
  transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back{
  transform: perspective(600px) rotateY(0deg);
}



@media screen and (max-width:800px) {

  .back{
    background: #000000;
    transform: perspective(600px) rotateY(180deg);
    width:  310px;
    margin: auto -29px;
    border-radius: 10%;
    height: 400px;
    font-size: large;
    overflow-y: scroll;  
  }
}

@media screen and (max-width:500px) {

  .back{
    background: #000000;
    transform: perspective(600px) rotateY(180deg);
    width:  310px;
    margin: auto -29px;
    border-radius: 10%;
    height: 400px;
    font-size: large;
    overflow-y: scroll;  
  }
}

